<div class="row"><h1>Dessert</h1>
    <div class=" col-12 col-md-4" *ngFor="let p of productlist">
        
        <ng-container *ngIf="p.category=='Dessert'">
        <a >
            <div class="card">
                <div class="card-header">
                    <img [src]="p.image" alt=""  height="400" width="200" class="card-img-top">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{p.title}}</h3>
                    <p>{{p.category}}</p>
                    <h6>price:{{p.price}}rs(per piece)</h6>
                    <p>{{p.description}}</p>
                </div>
           
               
            
        </div>
    </a>
    
</ng-container>

</div>
</div>
<div class="row"><h1>Cake</h1>
    <div class=" col-12 col-md-4" *ngFor="let p of productlist">
        
        <ng-container *ngIf="p.category=='cake'">
        <a >
            <div class="card">
                <div class="card-header">
                    <img [src]="p.image" alt=""  height="400" width="200" class="card-img-top">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{p.title}}</h3>
                    <p>{{p.category}}</p>
                    <h6>price:{{p.price}}rs(per piece)</h6>
                    <p>{{p.description}}</p>
                </div>
           
               
            
        </div>
    </a>
    
</ng-container>

</div>
</div>
<div class="row"><h1>Brownie</h1>
    <ng-container *ngFor="let p of productlist">
    <div class="col-12 col-md-4"  *ngIf="p.category=='Brownie'">
        
       
        <a >
            <div class="card">
                <div class="card-header">
                    <img [src]="p.image" alt=""  height="400" width="200" class="card-img-top">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{p.title}}</h3>
                    <p>{{p.category}}</p>
                    <h6>price:{{p.price}}rs(per piece)</h6>
                    <p>{{p.description}}</p>
                </div>
           
                
            
        </div>
    </a>
    


</div>
    </ng-container>
</div>
<div class="row"><h1>Cake Pop</h1>
    <ng-container *ngFor="let p of productlist">
    <div class="col-12 col-md-4"  *ngIf="p.category=='Cake Pop'">
        
       
        <a >
            <div class="card">
                <div class="card-header">
                    <img [src]="p.image" alt=""  height="400" width="200" class="card-img-top">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{p.title}}</h3>
                    <p>{{p.category}}</p>
                    <h6>price:{{p.price}}rs(per piece)</h6>
                    <p>{{p.description}}</p>
                </div>
           
                
            
        </div>
    </a>
    


</div>
    </ng-container>
</div>
<div class="row"><h1>Customized Cake</h1>
    <ng-container *ngFor="let p of productlist">
    <div class="col-12 col-md-4"  *ngIf="p.category=='Customized Cake'">
        
       
        <a >
            <div class="card">
                <div class="card-header">
                    <img [src]="p.image" alt=""  height="400" width="200" class="card-img-top">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{p.title}}</h3>
                    <p>{{p.category}}</p>
                    <h6>price:{{p.price}}rs(per piece)</h6>
                    <p>{{p.description}}</p>
                </div>
           
                
            
        </div>
    </a>
    


</div>
    </ng-container>
</div>
<div class="row"><h1>Macrons</h1>
    <ng-container *ngFor="let p of productlist">
    <div class="col-12 col-md-4"  *ngIf="p.category=='Macron'">
        
       
        <a >
            <div class="card">
                <div class="card-header">
                    <img [src]="p.image" alt=""  height="400" width="200" class="card-img-top">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{p.title}}</h3>
                    <p>{{p.category}}</p>
                    <h6>price:{{p.price}}rs(per piece)</h6>
                    <p>{{p.description}}</p>
                </div>
           
                
            
        </div>
    </a>
    


</div>
    </ng-container>
</div>
