<div class="row">
    <div class=" col-12  col-md-4" *ngFor="let p of productlist">
        <div class="card">
            <div class="card-header">
                <img src="{{p.image}}" height="400" width="350">
                <span class="text" ><h3>{{p.title}}</h3></span>
            </div>
            <div class="card-body" *ngIf="!p.pflag">
                <p class="m-b-0">price:{{p.price}}</p>
                <p class="m-b-0">description:{{p.description}}</p>
            </div>
            <div class="card-body" *ngIf="p.pflag">
                <label for="" class="form-label">Title</label>
                <input class="form-control" type="text" [(ngModel)]="p.title">
                <label for="" class="form-label">Price</label>
                <input class="form-control" type="text" [(ngModel)]="p.price">
                <label for="" class="form-label">Description</label>
                <input class="form-control" type="text" [(ngModel)]="p.description">
                <label for="" class="form-label">Category</label>
                <input class="form-control" type="text" [(ngModel)]="p.category">
            </div>
            <div class="card-footer">
                <button class="btn btn-warning" *ngIf="!p.pflag" (click)="editcontent(p)">EDIT</button>
                <button class="btn btn-primary" *ngIf="p.pflag" (click)="updateme(p)">UPDATE</button>
                <button class="btn btn-danger" (click)="deleteme(p.id)">DELETE</button>
            </div>
        </div>

    </div>
</div>

