<div class="container-fluid">
    <section class="pricing-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class=" col-12 col-xl-5 col-lg-6 col-md-8">
                    <div class="section-title text-center title-ex1">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
            </div>
          
            <div class="row">
                <div class=" col-12 col-md-6">
                    <div class="price-card featured ">
                        <h2>Total Products</h2>
                        <p class="price"><span>{{totalproductlen}}</span></p>
                    </div>
                </div>
                <div class=" col-12 col-md-6">
                    <div class="price-card featured">
                        <h2>Total Price</h2>
                       
                        <p class="price"><span>{{totalprice | number }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>
