<div class="page">
 <div class="row">
    <div class="col-md-3 "></div>
    <div class="col-md-6 d-flex justify-content-center c1">
        <h1>SS&nbsp;HOMEBAKERS</h1>
        
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 d-flex justify-content-center c2">
           <h6>It's Now Safe To Crave!!!</h6>
            
        </div>
</div>
<div class="row">
    <div class="col-md-3"></div>
<div class="col-md-6 d-flex justify-content-center">
        <button class="btn" (click)="addpage()">SHOP NOW</button>
    </div>
    
</div>
<div class="row">
    <div class="col-md-3"></div>
<div class="col-md-6 d-flex justify-content-center">
    <marquee direction="right" scrollamount="3" behavior="alternate" loop="10" class="marq">
        WELCOME TO SS HOMEBAKERS!!<br>
        For Enquires:
        contact:+91 8464975484;<br>
        Email:Sshomebakers123&#64;gmail.com<br>
        Insta id:SS Homebakers

      </marquee>
      
    </div>
    
</div>
</div>
</div>