<div class="row">
   
    <div class="col-md-4">
         <div class="card">
             <div class="card-header"> 
                 <img [src]="product.image" alt=""  height="200" width="200" class="card-img-top">  
             </div>
             <div class="card-body">
                 <h1 class="card-title">{{product.title}}</h1>
                 <p>{{product.category}}</p>
                 <h2>price:{{product.price}}rs</h2>
                 <p>{{product.description}}</p>
             </div>
             <div class="card-footer">
                 <button class="btn btn-success"(click)="addtocart(product)" >ADD TO CART</button>
                 <button class="btn btn-danger" (click)="addtowishlist(product)"><i class="fa-regular fa-heart"></i></button>
             </div>   </div>
     </div>
 </div>
